@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Marck+Script&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container > * {
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: aqua;
}

.navbar {
    grid-area: navbar;
    background-color: blueviolet;
}

.sidebar {
    grid-area: sidebar;
    background-color: tomato;
}

.main {
    grid-area: main;
    background-color: chocolate;
}

.footer{
    grid-area:footer;
    background-color: violet;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template: 
        "header" 100px
        "navbar" 30px
        "main" auto
        "sidebar"
        "footer" 100px;
}
/* Logo */
.div-logo{
    display: grid;
    grid-template-columns: 45px 300px;
    grid-template-rows: 45px auto;
    grid-template: 
    "logo  Isologo" 45px
    "logo  slogan"  45px ;
    align-items: center;
}
.div-logo > img {
    
    grid-area: logo;
    position: relative;
    width: auto;
    height: 90px;
    left: 35px;
}

.h1 {
    grid-area: Isologo;
    font-family: 'Mark Scriprt', cursive;
    font-size: 40px;
}
.h3 {
    font-family: 'Courgette', cursive;
    grid-area: slogan;
    font-size: 22px;
}

/* Media Mobile */
@media (min-width: 600px) {
    .grid-container{
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
            "header  header"
            "navbar  navbar"
            "sidebar main"
            "footer  footer";
    }
    /* Logo */
    .div-logo{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 110px;
        grid-template: 
        "logo  Isologo" 
        "logo  slogan"  ;
        align-items: center;
    }
    .div-logo > img {
        grid-area: logo;
        position: relative;
        width: auto;
        height: 90px;
        left: 35px;
    }

    .h1 {
        grid-area: Isologo;
        font-size: 40px;
    }
    .h3 {
        grid-area: slogan;
        font-size: 22px;
    }

}

/* Media Tablet */

@media (min-width: 900px) {
    .grid-container{
        grid-template-columns: 500px auto;
        grid-template-rows: 100px 50px auto auto 100px;
        grid-template-areas: 
            "header  header   header"
            "main    main     navbar"
            "main    main     navbar"
            "main    main     sidebar"
            "footer  footer   footer";
    }
    
    .div-logo{
        display: flex;
    }
    .div-logo > img {
        width: 90px;
        height: fit-content;
    }
    /* TODO: estilizar para tabletas y desktop*/
}