@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@200;400;700&family=Expletus+Sans:ital@1&display=swap');

:root {
    --purple:  rgba(153, 15, 191, 1);
    --greatBlue: rgba(93,4,217,1);
    --skyBlue: #8EC5FC;
    --badBlue: rgba(82,4,191,1);
    --darkBlue: rgba(18,6,75,1);
    --black: rgba(19,6,38,1);
    --white: rgb(250,250,255,1);
}

*{
    box-sizing:content-box;
    font-family: 'Big Shoulders Display', cursive;
    width: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body{
    max-width: 1400px;
    width: auto;
    margin: 0 auto;
    background-color: #8EC5FC;
    background-image: linear-gradient(75deg, #8EC5FC 0%, #E0C3FC 100%);
    
}
/* Header */
.header {
    position: sticky;
    height: 110px;
    top: 0px;
    background-color: var(--white);
    border-radius: 25px;
    box-shadow: 3px 3px 6px #ccc, -3px -3px 6px #fff;
}
.Title {
    position: relative;
    width: 245px;
    top: 30px;
    left: 75px;
}
.EmailBtn {
    position: relative;
    width: 50px;
    top: -65px;
    left: 1100px;
} 
#emailbutton{
    background-color: transparent;
    font-weight: 700;
    width: 70px;
    color: #444;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: 2px solid var(--white);
    border-radius: .5rem;
    cursor: pointer;
    transition: all 300ms ease;
    box-shadow: .5rem .5rem 1rem #ccc, -.5rem -.5rem 1rem #fff;
}
#emailbutton:hover{
    box-shadow: .5rem .5rem 1rem #fff, -.5rem -.5rem 1rem #ccc;
}
#emailbutton:active{
    box-shadow: inset .2rem .2rem 1rem #fff, -.2rem -.2rem 1rem #ccc;
    font-size: .8rem;
}
/* Body */
.presentation {
    margin: 30px auto;
    width: 1400px;
    height: 470px;
    border-radius: 30px;
    background-color: var(--white);
    box-shadow: 10px 10px 16px #ccc, -3px -3px 30px #ccc;
}
.presentationText{
    position: relative;
    top: 110px;
    left: 150px;
}
.present{
    width: 400px;
    font-size: 2rem;
    font-family: 'Expletus Sans', cursive;
}
#description{
    width: 570px;
    font-family: 'Big Shoulders Display', cursive;
}
.projects{
    margin: 30px auto;
    width: 1400px;
    height: 380px;
    border-radius: 30px;
    background-color: var(--white);
    box-shadow: 10px 10px 16px #ccc, -3px -3px 30px #ccc;
    display: inline-grid;
    grid-gap: 70px;
    grid-template-columns: 215px 230px 230px 230px 215px;
    grid-auto-columns: 250px;
    grid-row-gap: 18px;
    grid-template-rows: 15% 65% 10%;
    grid-row: 10 / 1;
}
.projectIMG{
    align-content: center;
    width: 200px;
    height: 170px;
    border-radius: 30px;
}
a > #mokepont #BasicPrograming #workTimeTable{
    width: max-content;
}
.projects > #princTitle {
    position: relative;
    top: -15px;
    left: 595px;
    font-family: 'Expletus Sans', cursive;
    font-weight: 500;
    font-size: xx-large;
}
.repo {
    background-color: transparent;
    box-shadow: .5rem .5rem .5rem #ccc;
    position: relative;
    width: 230px;
    height: 140px;
    top: 80px;
}
/* Bottom */
.socialNetworks {
    width: 1400px;
    height: 100px;
}
.profileImg {
    position: relative;
    width: 300px;
    top: -200px;
    left: 930px;

}
.profileImg > img{
    border-radius: 20px;
}

.socialNetworkImg{
    width: 30px;
}
