@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container > * {
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: aqua;
}

.navbar {
    grid-area: navbar;
    background-color: blueviolet;
}

.sidebar {
    grid-area: sidebar;
    background-color: tomato;
}

.main {
    grid-area: main;
    background-color: chocolate;
}

.footer{
    grid-area:footer;
    background-color: violet;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template: 
        "header" 100px
        "navbar" 30px
        "main" auto
        "sidebar"
        "footer" 100px;
}
@media (min-width: 600px) {
    .grid-container{
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
            "header  header"
            "navbar  navbar"
            "sidebar main"
            "footer  footer";
    }
}

@media (min-width: 900px) {
    .grid-container{
        grid-template-columns: 500px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
            "header  header   header"
            "main    main     navbar"
            "main    main     navbar"
            "main    main     sidebar"
            "footer  footer   footer";
    }
}